@font-face {
  font-family: "abrilFontface";
  src: url("../about-font/abril/AbrilFatface-Regular.ttf");
}

@font-face {
  font-family: "arimoFontface";
  src: url("../about-font/arimo/static/Arimo-Regular.ttf");
}
.aboutUS {
  width: 100%;
  background: #240c76;
  display: flex;
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.container h1 {
  font-family: "abrilFontface", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 44px;
  color: #ffffff;
  letter-spacing: 0.5rem;
}

.container p {
  font-family: "arimoFontface" , sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #ffffff;
  width: 70%;
}

.group_imgs {
  display: flex;
  justify-content: space-around;
  gap: 1rem;
  flex-wrap: wrap;
}

.img_container {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  overflow: hidden;
  flex-grow: 1;
}

.img_container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.learn_more {
  color: #240076;
  font-family: "abrilFontface" , sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24.28px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 30px;
  gap: 10px;
  border-radius: 10px;
  width: 250px;
  height: 80px;
  background: #ffffff;
}

@media screen and (max-width: 768px) {
  .container p {
    width: 90%;
  }

  .container .img_container {
    display: none;
  }

  .container .img_container:nth-child(1) {
    display: block;
  }

  .learn_more {
    width: 200px;
    height: 60px;
  }
}
