.container{
    width: 100%;
    background: #FFFFFF;
    display: flex;
    gap: 2rem;
}

.img_container{
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #D9D9D9;
    
}

.img_container img{
    width: 100%;
    aspect-ratio: 1;
    object-fit: contain;
}

.form_container{
    height: 100%;
    background: #FFFFFF;
    width: 65%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.page_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 166px;
    height: 34px;
    gap: 30px;

}

.closeIcon{
    color: #231F20;
    cursor: pointer;
}

.title{
    font-family: Abril Fatface;
    font-size: 32px;
    font-weight: 400;
    line-height: 24px;
    color: #231F20;
}

.page_nav{
    width:70%;
    gap: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_nav span{
    font-family: Abril Fatface;
    font-size: 24px;
    font-weight: 400;
    line-height: 24px;
    cursor: pointer;
    padding: 1rem;
}

.active{
    color: #231F20;
    border-bottom: 1px solid #231F20;
}

.have_acct{
    font-family: Arimo Hebrew Subset;
    line-height: 24px;
    color: #231F20;
}

.have_acct a{
    line-height: 27.6px;
    color: #00451A;
}


@media screen and (max-width: 768px) {
    .img_container{
        display: none;
    }
    
    .form_container{
        width: 100%;
    }

    .title{
        font-size: 28px;
    }

    .page_nav{
        align-self: center;
        width: 60%;
    }

    .page_nav span{
        font-size: 20px;
    }
}

@media screen and (max-width: 600px) {
    .container{
        justify-content: center;
        padding: 2rem 0;
    }
    

    .img_container{
        display: none;
    }
    
    .form_container{
        width: 95%;
        border-radius: 10px;
    }

    .page_nav{
        width:50%;
    }
}

@media screen and (max-width: 500px) {
    .page_nav span{
        font-size: small;
    }
} 