.hero_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: #F5F5F5;
    height: fit-content;
}

.hero_body{
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.hero_body h1{
    font-family: Abril Fatface;
    font-size: 40px;
    font-weight: 400;
    line-height: 53.96px;
    color: #00451A;
}
.hero_body p{
    font-family: Arimo Hebrew Subset;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: #231F20;
}

.hero_btns{
    width: 80%;
    display: flex;
    gap: 4rem;
}

.btn_joinUS,
.btn_hire_techie{
    font-family: Abril Fatface;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.28px;
    width: 300px;
    height: 80px;
    padding: 20px 30px;
    gap: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn_joinUS{
    background: #240076;
    color: #F5F5F5;
}

.btn_hire_techie{
    background: #FFFFFF;
    color: #240076;
    border: 1px solid #240076
}

.testimony{
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
}

.testimony_img_container{
    display: flex;
    align-items: center;
    position: relative;
    height: 100px;
    width: 30%;
}

.img_frame{
    width: 25%;
    aspect-ratio: 1;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
}

.img_frame img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.testimony_content{
    font-family: Arimo Hebrew Subset;
    font-size: 18px;
    font-weight: 400;
    line-height: 20.7px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: fit-content;
}

.community{
    font-family: Abril Fatface;
    font-size: 18px;
    font-weight: 400;
    line-height: 24.28px;
    color: #240076;
    padding: 5px;
    border-bottom: 2px solid #240076;
    margin-left: 1rem;
}

@media screen and (max-width: 1300px) {
    .testimony .testimony_content{
        font-size: 16px;
    }
}

@media screen and (max-width: 1300px) {
    .btn_joinUS,
    .btn_hire_techie{
        width: fit-content;
        height: auto;
}
}

@media screen and (max-width: 950px) {
    .hero_btns{
        width: 100%;
        gap: 2rem;
    }
    .hero_body h1{
        font-size: 38px;
        font-weight: 400;
        line-height: 50px;
    }
    .hero_body p{
        font-size: 20px;
        line-height: 28px;
    }

    .testimony .testimony_content{
        font-size: small;
        text-align: left;
    }

    .testimony .community{
        font-size: small;
    }
}

@media screen and (max-width: 768px) {
    .hero_container{
        padding: 2rem 1rem;
    }
    .hero_banner{
        display: none;
    }

    .testimony{
        width: 100%;
    }

    .hero_body{
        width: 80%;
    }
}

@media screen and (max-width: 550px) {
    .hero_body{
        width: 100%;
    }

    .hero_body h1{
        font-size: 30px;
        font-weight: 400;
        line-height: 52px;
    }
    .hero_body p{
        font-size: 18px;
        line-height: 30px;
    }

    .hero_btns{
        display: flex;
        gap: 2rem;
    }

    .btn_icon{
        display: none;
    }
    
    .btn_joinUS,
    .btn_hire_techie{
        padding: 10px 15px;
    }

    .testimony .testimony_content{
        font-size: small;
    }

    .testimony .community{
        font-size: small;
    }
}

@media screen and (max-width: 450px) {
    .testimony{
        height: fit-content;
    }

    .testimony_img_container{
        display: none;
    }

    .btn_joinUS,
    .btn_hire_techie{
        font-size: small;
    }

    /* .btn_icon{
        display: none;
    } */
}
@media screen and (max-width: 320px) {
    .testimony .testimony_content{
        font-size: x-small;
    }

    .btn_joinUS,
    .btn_hire_techie{
        font-size: x-small;
    }

    .testimony .community{
        font-size: x-small;
    }
}